<div class="main-content noLRpad padT5">
		<div class="right-nav fR" [ngClass]="{'slideInRight':showMenu,'slideOutRight':!showMenu}">
				<span class="close" (click)="disableOverlay()">&times;</span>
				<span class="loan-no">Loan : {{selectedLoanNumber}}</span>
				<ul>
						<li class="status" routerLink="/pipeline/status/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
								<span><a href="javascript:void(0);">Loan Status</a></span>
						</li>
						<li class="loan-Details" routerLink="/pipeline/loandetails/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
							<span><a href="javascript:void(0);">Loan Details</a></span>
						</li>
						<li class="conditions" routerLink="/pipeline/conditions/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
								<span><a href="javascript:void(0);">Conditions</a></span>
						</li>
						<li class="documents" routerLink="/pipeline/documents/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
								<span><a href="javascript:void(0);">Documents</a></span>
						</li>
						<li class="notification" routerLink="/pipeline/notification/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
							<span><a href="javascript:void(0);">Notifications</a></span>
							<!--<sup class="badge" *ngIf="notificationCount > 0">{{notificationCount}}</sup>-->
							<span class="menu-badge fR" *ngIf="notificationCount > 0">{{notificationCount}}</span>
						</li>
						<li class="message" routerLink="/pipeline/message/{{loanId}}/{{src}}" routerLinkActive="active" (click)="disableOverlay()">
							<span><a href="javascript:void(0);">Messages</a></span>
							<!--<sup class="badge" *ngIf="messageCount > 0">{{messageCount}}</sup>-->
							<span class="menu-badge fR" *ngIf="messageCount > 0">{{messageCount}}</span>
						</li>
				</ul>
		</div>
		<div class="tab-content">
			<router-outlet></router-outlet>
		</div>
</div>