<div class="main-content marTop52">
    <div class="loan-header-wrap">
        <sl-loan-header></sl-loan-header>
    </div>
    <div class="row message-wrap">
        <!--<sl-messageBox [messageDetails]="messageData" (sendMessage)="sendMessage($event)"></sl-messageBox>-->
        <contact-list *ngIf="contacts && contacts.length > 0 && selectedLoan" [contacts]="contacts" [selectedLoan]="selectedLoan"
            [selectedContact]="selectedContact" (onContactSelected)="onContactSelected($event)">
        </contact-list>
        <message-window *ngIf="contacts && contacts.length > 0" [selectedContactData]="selectedContact" [selectedLoan]="selectedLoan"
            [conversation]="conversation" [contacts]="contacts" (onMessageSent)="onMessageSent($event)">
        </message-window>
    </div>
    <div class="text-center no-contacts" *ngIf="contacts && contacts.length === 0">
        <span>No Contacts</span>
    </div>
</div>